* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  align-items: center;
  width: 100%;
}

.container {
  padding: 0 50px;
}

.heading {
  font-family: "Monteserrat", sans-serif;
  font-weight: 400;
  line-height: 45px;
  margin: 0;
  position: relative;
  left: 0;
  color: black;
  opacity: 0;
  font-size: 35px;
  position: relative;
  left: -3px;
}

.subheading {
  font-family: "Monteserrat", sans-serif;
  font-weight: 500;
  line-height: 28px;
  font-size: 15px;
  margin-top: 30px;
  color: black;
  opacity: 0;
}

.fade-in {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.5s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

span {
  border-bottom: 1px solid lightgrey;
  padding-bottom: 2px;
}

span:hover {
  border-bottom: 1px solid white;
  padding-bottom: 2px;
}

.social-icon {
  margin-right: 15px;
}

.social-icon__twitter {
  width: 20px;
  height: 20px;
}

.social-icon__github {
  width: 30px;
  height: 30px;
}

@media screen and (max-width: 640px) {
}

h3 a {
  color: black;
  text-decoration: none;
}

h5 {
  font-family: "Monteserrat", sans-serif;
  font-weight: 500;
  line-height: 45px;
  margin: 0;
  margin-top: -10px;
  font-size: 15px;
}
